:root {
  --black: #000;
  --white: #fff;

  --primary: #0f6;
  --secondary: #ff5c00;
  --bg: #131212;

  --nav-height: 68px;
  --animation: all 300ms cubic-bezier(0.455, 0.03, 0.515, 0.955);
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.container {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

@media (min-width: 576px) {
  .container {
    max-width: 540px;
  }
}

@media (min-width: 768px) {
  .container {
    max-width: 720px;
  }
}

@media (min-width: 992px) {
  .container {
    max-width: 960px;
  }
}

@media (min-width: 1200px) {
  .container {
    max-width: 1140px;
  }
}

@media (min-width: 1366px) {
  .container {
    max-width: 1280px;
  }
}